<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="ADD YOUR FAV FOOD">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Add Blog</title>


    <script class="u-script" type="text/javascript" src="{{url_for('static', filename='js/nicepage.js')}}" defer=""></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nicepage.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='css/addblog.css')}}" media="screen">

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    

    <meta property="og:title" content="addblog">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#167fe1">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body"><header class="u-clearfix u-grey-75 u-header u-header" id="sec-246e"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      </div></header>
    <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-554f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-1">ADD YOUR BLOG</h1>
        <div class="u-form u-form-1">
          <form method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form" enctype="multipart/form-data">
            <div class="u-form-group u-form-name u-form-group-1">
              <label for="name-3b9a" class="u-form-control-hidden u-label">Name</label>
              <input type="text" placeholder="name of your food" id="name-3b9a" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="">
            </div>
            <div class="u-form-group u-form-group-2">
              <label for="text-3368" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Rating" id="text-3368" name="rating" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-2" required="required">
            </div>
            <div class="u-form-group u-form-group-3">
              <label for="text-477f" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Price" id="text-477f" name="price" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3">
            </div>
            <div class="u-form-group u-form-message u-form-group-4">
              <textarea placeholder="Description" rows="4" cols="50" id="message-3b9a" name="desc" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-file-link u-input u-input-rectangle u-input-4" required=""></textarea>
            </div>
            <div class="u-form-group u-form-group-5">
              <label for="text-477f" class="u-form-control-hidden u-label"></label>
              <input type="file" placeholder="picture" name="pic" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-3">
            </div>
            <div class="u-align-center u-form-group u-form-submit u-form-group-6">
              <input type="submit" value="submit" class="u-form-control-hidden">
              <button class="u-border-2 u-border-black u-btn u-btn-rectangle u-btn-submit u-button-style u-none u-btn-1">Submit</button>

            </div>
          </form>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-left u-clearfix u-footer u-grey-80" id="sec-095c"><div class="u-clearfix u-sheet u-sheet-1"></div></footer>
  </body>
</html>